@model IEnumerable<DoctorBooking.CRUD.Db.Payment>

@{
    ViewData["Title"] = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayName("Appointment")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td>
                @(
                    item.Appointment is not null
                    ? $"{item.Appointment.Doctor?.User?.Name ?? "Doctor"} {item.Appointment.Schedule.Date:yyyy-MM-dd} {item.Appointment.Schedule.StartTime:HH:mm} - {item.Appointment.Schedule.EndTime:HH:mm}"
                    : ""
                )
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
